{% extends "base.html" %}

{% block content %}

<div class="error">{{error}}</div>

  {% for p in posts %}
    {{ p.render() | safe }}
    {% if user and p.userid == user.key().id()|string() %}
  	<div>
  	<a href="/blog/edit/{{ p.key().id() }}">Edit Post</a>
  	</div>
  	<div>
  	<a href="/blog/delete/{{ p.key().id() }}">Delete Post</a>
  	</div>
  	{% endif %}
  	<div>
  	<p>{{p.likes}} likes</p>
  	<a href="/blog/like/{{ p.key().id() }}">Like</a>
  	</div>
  	<form method="post" action="/blog/comment?post_id={{p.key().id()}}">
  	<div>
  	<textarea style="height:25px; width:300px;" name="comment"></textarea>
  	<input style="font-size:13px;" type="submit" value="Comment">
  	</div>
  	</form>
  	<table bgcolor="lightblue" border="1">
  	<thead>Comments</thead>
  		{% for c in comments %}
  		{% if c.post_id == p.key().id() %}
  		<tr>
  			<td>
  				{{c.username}}
  			</td>
  			<td>
  				{{c.comment}}
  			</td>
  			<td>
  			<form method="post" action="/blog/editcomment/{{c.key().id()}}">
  			<textarea placeholder="edit here" name="editedcomment" style="font-size:12px;height:15px; width:100px;"></textarea>
  			<input style="font-size:12px;" type="submit" value="Edit">
  			</form>
  			<a href="/blog/deletecomment?commentid={{c.key().id()}}">Delete</a>
  			</td>
  		</tr>
  		{% endif %}
  		{% endfor %}
  	</table>
    <br><br>

  {% endfor %}

{% endblock %}
